name: Production - Deploy FetchUserAttributes

on:
  push:
    branches: [main]
  workflow_dispatch:
    

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.18

      # Deploy FetchUserAttributes
      - name: Deploy user/fetch
        run: cd user/fetch/; GOOS=linux CGO_ENABLED=0 go build cmd/main.go; zip addFetchUserAttributes.zip main; ls;

      - name: Deploy FetchUserAttributes Test
        run: cd user/fetch/; go test -v ./...
      
      - name: Add Budget gobuild deploy
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: arn:aws:iam::064559090307:role/OIDCGithubRole
          aws-region: ${{ secrets.AWS_REGION }}
          role-session-name: SessionRetrieveAndValidateAPIKey

      - name: Update lambda
        run: aws lambda update-function-code --function-name  getUserAttributes --zip-file fileb://user/fetch/addFetchUserAttributes.zip
