name: Production - Deploy ConfirmMFA

on:
  #push:
    #branches: [main]
  workflow_dispatch:
    

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.18

      # Deploy ConfirmMFA
      - name: Deploy confirm-mfa
        run: cd confirm-mfa/; GOOS=linux CGO_ENABLED=0 go build cmd/main.go; zip addConfirmMFA.zip main; ls;

      - name: Deploy ConfirmMFA Test
        run: cd confirm-mfa/; go test -v ./...
           
      - name: ConfirmMFA gobuild deploy
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: ${{ secrets.OIDC_GITHUB_ROLE }}
          aws-region: ${{ secrets.AWS_REGION }}
          role-session-name: SessionRetrieveAndValidateAPIKey

      - name: Update lambda
        run: aws lambda update-function-code --function-name  confirmMFA --zip-file fileb://confirm-mfa/addConfirmMFA.zip
