name: Production - Deploy ConfirmForgotPassword

on:
  #push:
    #branches: [main]
  workflow_dispatch:
    

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.18

      # Deploy ConfirmForgotPassword
      - name: Deploy confirm-forgot-password
        run: cd confirm-forgot-password/; GOOS=linux CGO_ENABLED=0 go build cmd/main.go; zip addConfirmForgotPassword.zip main; ls;

      - name: Deploy ConfirmForgotPassword Test
        run: cd confirm-forgot-password/; go test -v ./...

      - name: Deploy ConfirmForgotPassword gobuild deploy
        uses: appleboy/lambda-action@master
        with:
          aws_access_key_id: ${{ secrets.AWS_KEY_ID }}
          aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws_region: ${{ secrets.AWS_REGION }}
          function_name: confirmForgotPassword
          zip_file: confirm-forgot-password/addConfirmForgotPassword.zip
