name: Production - Deploy RefreshToken

on:
  #push:
    #branches: [main]
  workflow_dispatch:
    

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.18

      # Deploy RefreshToken
      - name: Deploy refresh-token
        run: cd refresh-token/; GOOS=linux CGO_ENABLED=0 go build cmd/main.go; zip addRefreshToken.zip main; ls;

      - name: Deploy RefreshToken Test
        run: cd refresh-token/; go test -v ./...

      - name: Deploy RefreshToken gobuild deploy
        uses: appleboy/lambda-action@master
        with:
          aws_access_key_id: ${{ secrets.AWS_KEY_ID }}
          aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws_region: ${{ secrets.AWS_REGION }}
          function_name: refreshToken
          zip_file: refresh-token/addRefreshToken.zip
